body{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* de 300  a 900 */
    font-style: normal;

    height: 5000px;
}

.container_navbar{
    position: absolute;
    background-color: rgb(205, 204, 204);
    width: 100%;
    height: 100px;
    top: 0%;    
    left: 0%;
    margin: 0px;    
    padding: 0px;
}
.navbar_name{
    position: absolute;
    top: 0%;
    left: 2%;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 300%;
}
.navbars {
    position: absolute;
    top: 0%;
    right: 0%;
    display: flex;
    align-items: center;
    height: 100%;

}
  
.navbar{
    margin-right: 20px;
    vertical-align: middle;
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}
.navbar:hover{
    color: whitesmoke;

}
.categories{

}