body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* de 300  a 900 */
    font-style: normal;
    color: rgb(238, 238, 238);
    background-image: url("/img/background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a {
    text-decoration: none;
}

img {
    pointer-events: none; /* Pr que les autres ne puissent pas download les photos */
}

.container1 {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(34, 40, 49);
    width: 70%;
    height: 70%;
    position: absolute;
    border-radius: 20px;
    overflow: hidden;
}
.prenom{
    position: absolute;
    font-size: 170%;
    top: 0%;
    left: 60px;
} 
.container_navbar {
    text-align: right;
    margin-top: 50px;
    margin-right: 40px;
}

.navbar {
    text-align: right;
    display: inline;
    font-size: 25px;
    text-decoration: none;
    color: rgb(238, 238, 238);
    font-weight: 300; /* de 300  a 900 */
    margin-right: 30px;
    transition: color 0.3s;
}
.navbar:hover {
    color: rgb(0, 173, 181);
}
.lang{
    color: #f7b3ae;
    margin: 0px;
}
.presentation{
    position: fixed;
    top: 30%;
    left: 0px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 0px;
}
.text_presentation{
    font-size: 200%;
    line-height: 10%px;
    
}

.text_intro{
    margin: 10px;
    margin-top: -3%;
}

.button_presentation{
    background-color:transparent;
    border-style: solid;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    border-width: 2px;
    border-color: rgb(0, 173, 181);
    color: rgb(0, 173, 181);
    font-size: 21px;;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}

.button_presentation:hover{
    cursor: pointer;
    border-color: #19647E;
    color: #19647E;
}

.photo_profil{
    position: fixed;
    z-index: -1;
    height: 90%;
    margin-top: 5%;
    right: 0%;
    bottom: -1%;
}


.footer{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0%;
    left: 0%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}

@media screen and (max-width: 1100px) {
    body{
        font-size: x-large;
    }
    .prenom{
        display: none;
    }
    .container1{
        width: 80%;
        height: 60%;
    }
    .container_navbar {
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 50px;
        justify-content: center;
    }

    .text_intro{
        font-size: 120%;
    }

    .navbar{
        font-size:30px;
        
        margin-right: 20px;
        line-height: 50px;
    }

    .button_presentation{
        font-size: xx-large;
        margin-top: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 30px;
        border-width: 2px;
        border-color: rgb(0, 173, 181);
    }
}